/* Make page wider */

@media (min-width: 1200px) {
  .container-md {
    max-width: 1600px;
  }
}


/* Support button in navbar */
.navbar-custom .navbar-nav li a[href*="donate"] {
  color: white;
  background: green;
  transition: background 300ms, color 300ms;
}
.navbar-custom .navbar-nav li a[href*="donate"]:hover {
  background: hotpink;
  color: #3344bb;
}
@media (min-width: 768px) {
  .navbar-custom .navbar-nav .nav-item:not(.dropdown):last-child .nav-link {
    padding-right: 16px;
  }
}
